.section-gap {
    margin-top: rem(80);

    @include breakpoint-max($tablet-width) {
        margin-top: rem(64);
    }
}

.wrapper {
    display: flex;
    gap: rem(48);

    .main-content {
        min-width: rem(400);
        max-width: 45%;
    }

    @include breakpoint-max($desktop-width) {
        flex-direction: column;
        gap: rem(24);

        .main-content {
            min-width: initial;
            max-width: initial;
            order: 1;
        }
    }
}

.truncate {
    @include breakpoint-max($mobile-width) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        max-height: var(--truncate-height, auto);
        overflow: hidden;
        transition: max-height 0.3s ease;

        &--line-clamped {
            -webkit-line-clamp: 3;
        }

        &--expanded {
            max-height: var(--truncate-height-expanded, auto);
        }
    }
}