.section-gap {
    margin-top: rem(80);

    @include breakpoint-max($tablet-width) {
        margin-top: rem(64);
    }
}

.wrapper {
    display: flex;
    gap: rem(48);

    .main-content {
        min-width: rem(400);
        max-width: 45%;
    }

    @include breakpoint-max($desktop-width) {
        flex-direction: column;
        gap: rem(24);

        .main-content {
            min-width: initial;
            max-width: initial;
            order: 1;
        }
    }
}

@include breakpoint-max($mobile-width) {
    .truncate {
        max-height: rem(72);
        overflow: hidden;
        transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);

        &.open {
            max-height: 100rem;
            transition: max-height 0.3s cubic-bezier(0.9, 0, 0.8, 0.2);

            p {
                animation: open 0.1s linear 0s forwards;
            }
        }

        @keyframes open {
            from {
                line-clamp: 3;
                -webkit-line-clamp: 3;
            }

            to {
                line-clamp: initial;
                -webkit-line-clamp: initial;
            }
        }

        @keyframes close {
            from {
                line-clamp: initial;
                -webkit-line-clamp: initial;
            }

            to {
                line-clamp: 3;
                -webkit-line-clamp: 3;
            }
        }

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            animation: close 0.1s linear 0.1s forwards;
        }
    }
}