.bonus-offers {
    position: relative;
    background: radial-gradient(200.07% 200.07% at 47.38% -71.04%, #753CE9 0%, rgba(117, 60, 233, 0) 100%);
    border-radius: rem(8);
    padding: rem(32);
    margin-bottom: rem(24);

    &__wrapper {
        display: flex;
        gap: rem(30);
        position: relative;
        z-index: 1;
        justify-content: space-between;
        gap: rem(59);
    }

    &__content {
        width: rem(295);
        flex-shrink: 0;

        @include breakpoint-min($tablet-width) {
            .g-btn {
                width: fit-content;
            }
        }
    }

    &__decor {
        position: absolute;
        top: 0;
        right: 0;
        width: 76%;
        height: 100%;

        &--mob {
            display: none;
        }
    }

    &__title {
        color: white;
        @include b-30;
        margin-bottom: rem(8);
    }

    &-percentage {
        position: relative;

        &__img {
            position: absolute;
            top: rem(-2);
            left: rem(-32);
            z-index: -1;
            width: rem(360);
            height: 100%;
        }

        &__text {
            @include font(48, 700, 64);
            margin-bottom: rem(8);
            color: $bg-black;
            padding: rem(2) 0;
            white-space: nowrap;
        }
    }

    &__text {
        @include r-14;
        color: white;
    }

    &__slide {
        width: 100%;
        overflow-x: hidden;

        .swiper-slide {
            img {
                width: 100%;
                height: rem(260);
                object-fit: contain;
            }
        }

        .swiper-pagination,
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }

    @include breakpoint-max($desktop-width) {
        .swiper-slide {
            width: rem(218);
        }
    }

    @include breakpoint-max($tablet-width) {
        padding: rem(24);

        &__wrapper {
            flex-direction: column;
            gap: rem(32);
        }

        &__content {
            width: 100%;
        }

        &-percentage {
            &__img {
                left: rem(-24);
                width: rem(368);
            }
        }

        &__slide {
            padding-bottom: rem(52);

            .swiper-button-next,
            .swiper-button-prev {
                display: flex;
                bottom: 0 !important;
                top: initial;
            }

            .swiper-button-next {
                right: 0;
            }

            .swiper-button-prev {
                left: 0;
            }

            .swiper-pagination {
                display: flex;
                bottom: rem(13) !important;
            }
        }

        &__decor {
            width: 100%;

            &--mob {
                display: block;
            }

            &--desktop {
                display: none;
            }
        }
    }

    @include breakpoint-max($mobile-width) {
        &__slide {
            margin-right: rem(-24);
            width: auto;

            .swiper-slide {
                width: rem(158);

                img {
                    height: initial;
                }
            }
        }
    }

    @include breakpoint-max(414) {
        &-percentage {
            &__img {
                width: calc(100% + rem(34));
                object-fit: cover;
                object-position: right;
            }

            &__text {
                padding-right: rem(10);
                white-space: initial;
            }
        }
    }
}