.faq {
    padding-bottom: rem(60);

    &--bg {
        background: $bg-gray;
        padding-top: rem(80);
        margin-top: rem(80);

        .faq__wrapper {
            margin-top: 0;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: rem(28);
        margin-top: rem(40)
    }

    &__title {
        @include h-2;
        color: white;
        margin-bottom: rem(12);
    }

    @include breakpoint-max($tablet-width) {
        &--bg {
            padding-top: rem(64);
            margin-top: rem(64);
        }

        padding-bottom: rem(44);

        &__wrapper {
            margin-top: rem(32);
        }
    }
}