.g-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(14, 700, 20);
    color: white !important;
    border-radius: rem(8);
    width: fit-content;

    &:active {
        transform: scale(.95);
    }

    &--green {
        background: conic-gradient(from 180deg at 50% 50%, #49A31B -179.86deg, #2D8D2F 180.02deg, #49A31B 180.14deg, #2D8D2F 540.02deg);

        &:hover {
            background: conic-gradient(from 180deg at 50% 50%, #216622 -180deg, #3E8A17 180deg, #216622 180deg, #3E8A17 540deg);
        }
    }

    &--purple {
        background: conic-gradient(from 180deg at 50% 50%, #824CF6 -179.86deg, #753CE9 180.02deg, #824CF6 180.14deg, #753CE9 540.02deg);

        &:hover {
            background: conic-gradient(from 180deg at 50% 50%, #7444DB -179.86deg, #6433C7 180.02deg, #7444DB 180.14deg, #6433C7 540.02deg);
        }
    }

    &--orange {
        background: conic-gradient(from 180deg at 50% 50%, #F4BA1E -179.86deg, #F2A115 180.02deg, #F4BA1E 180.14deg, #F2A115 540.02deg);

        &:hover {
            background: conic-gradient(from 180deg at 50% 50%, #D9A51B -179.86deg, #D48D12 180.02deg, #D9A51B 180.14deg, #D48D12 540.02deg);
        }
    }

    &--gray {
        background: #6B7180;

        &:hover {
            background: #4D515C;
        }
    }

    &--black {
        background: #1A1C20;

        &:hover {
            background: #313336;
        }
    }

    @include breakpoint-min($tablet-width) {
        &--dt-s {
            padding: rem(12) rem(24);
        }

        &--dt-m {
            padding: rem(14) rem(32);
        }

        &--dt-l {
            padding: rem(18) rem(44);
        }
    }

    @include breakpoint-max($tablet-width) {
        width: 100%;

        &--mb-m {
            padding: rem(8) rem(16);
        }

        &--mb-l {
            padding: rem(14) rem(32);
        }
    }
}