.game-list {
    display: grid;
    gap: rem(16);
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: rem(32);
    position: relative;

    .game-card {
        display: flex;
        flex-direction: column;
        border-radius: rem(4);
        border-radius: rem(8);

        &__img {
            height: rem(214);
            border-radius: rem(8);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: rem(8);
                transition: 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &__body {
            padding: rem(16) rem(12);
            background-color: $black;
            border-bottom-left-radius: rem(8);
            border-bottom-right-radius: rem(8);
        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(5);
        }

        &__title {
            @include r-14;
            color: $gray;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .g-btn {
            margin-top: rem(16);
            width: 100%;
        }
    }

    &--five {
        grid-template-columns: repeat(5, 1fr);
    }

    &__decor {
        position: absolute;
        right: rem(-40);
        bottom: 0;
        display: none;
    }

    @include breakpoint-max($desktop-width) {
        grid-template-columns: repeat(4, 1fr);

        &__decor {
            display: block;
        }
    }

    @include breakpoint-max($tablet-width) {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: rem(24);

        &__decor {
            right: rem(-16);
        }
    }

    @include breakpoint-max($mobile-width) {
        grid-template-columns: repeat(2, 1fr);

        .game-card {
            &__img {
                height: rem(185);
            }
        }

        &:not(.game-list--five) {
            .game-card {
                &:nth-last-child(-n+6) {
                    display: none;
                }
            }
        }
    }
}