.scroll-top {
    box-shadow: 0px 4px 8px 0px #00000026;
    width: rem(60);
    height: rem(60);
    border-radius: rem(8);
    background-color: $bg-gray;
    @include r-14;
    color: white;
    display: flex;
    flex-direction: column;
    gap: rem(4);
    align-items: center;
    justify-content: center;
    position: fixed;
    right: rem(30);
    bottom: rem(30);
}