.swiper-button-next,
.swiper-button-prev {
    z-index: 8;

    &::after {
        content: none;
    }

    display: flex;
    width: rem(36);
    height: rem(36);
    justify-content: center;
    align-items: center;
    border-radius:rem(8);
    background: rgba(255, 255, 255, 0.05);
    transition: 0.3s;

    &:hover {
        background: rgba(255, 255, 255, 0.09);
    }
}

.swiper-pagination {
    display: flex;
    gap: rem(10);
    justify-content: center;
    z-index: 8;

    &-bullet {
        width: rem(10);
        height: rem(10);
        border-radius: rem(100);
        opacity: 0.15;
        background: white;
        transition: 0.3s;
        margin: 0 !important;

        &-active {
            width: rem(28);
            opacity: 1;
        }
    }
}