.header {
    background-color: $bg-black;
    box-shadow: 0px 0px 50px 0px #11141580;
    padding: rem(10) 0;
    top: 0;
    position: sticky;
    z-index: 99;

    &.fix-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        gap: rem(15);
        flex-wrap: nowrap;

        &__logo {
            width: rem(130);
            height: rem(32);
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__list {
            display: flex;
            align-items: center;
            gap: rem(8);
        }

        &__item {
            position: relative;
            cursor: pointer;
            border-radius: rem(4);
            transition: 0.3s;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: rem(-10);
                width: 100%;
                height: rem(10);
                background: transparent;
            }

            @include breakpoint-min($desktop-width) {
                &:hover>.dropdown__list {
                    display: flex;
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.10);

                    .dropdown__btn {
                        color: white;
                    }
                }
            }

            &--lang {
                display: none;
            }
        }

        &__link {
            color: $gray;
            padding: rem(12);
            border-radius: rem(4);
            @include r-14;
            text-align: center;

            &:hover {
                color: white;
                background: rgba(255, 255, 255, 0.10);
            }
        }

        &__right {
            display: flex;
            align-items: center;
            gap: rem(15);
        }

        &__register {
            display: flex;
            gap: rem(10);
            align-items: center;

            .navbar__link {
                white-space: nowrap;
            }
        }

        &__mob {
            display: flex;
            align-items: center;
            gap: rem(16);

            @include breakpoint-min($desktop-width) {
                display: none;
            }
        }
    }

    .sign-in-mob {
        margin-top: rem(4);

        svg {
            width: rem(20);
            height: rem(20);
            stroke: white;
            transition: 0.3s;

            &:hover {
                stroke: $gray;
            }
        }
    }

    .dropdown {
        &__btn {
            display: flex;
            gap: rem(8);
            align-items: center;
            justify-content: space-between;
            color: $gray;
            padding: rem(12);
            border-radius: rem(4);
            @include r-14;
            width: 100%;
            pointer-events: none;

            svg {
                width: rem(15);
                height: rem(8);
                transform: translateY(rem(2));
                stroke: $gray;
                transition: 0.3s;
            }
        }

        &__list {
            flex-direction: column;
            border-radius: rem(8);

            @include breakpoint-min($desktop-width) {
                display: none;
                animation: fade 0.2s linear;
                background-color: $black;
                padding: rem(8);
                gap: rem(6);
                min-width: rem(188);
                position: absolute;
                left: 0;
                top: calc(100% + rem(6));

                .dropdown__btn {
                    color: white;

                    svg {
                        transform: rotate(270deg);
                    }
                }
            }
        }

        &__item {
            position: relative;
            border-radius: rem(4);

            @include breakpoint-min($desktop-width) {
                &:hover>.dropdown__list {
                    display: flex;
                    left: calc(100% + rem(16));
                    top: 0;
                }
            }

            &:hover {
                color: white;
                background: rgba(255, 255, 255, 0.10);

                svg {
                    stroke: white;
                }
            }

            &::after {
                content: "";
                position: absolute;
                right: rem(-30);
                top: 0;
                height: 100%;
                width: rem(30);
                background: transparent;
            }
        }

        &__link {
            color: white;
            padding: rem(12);
            border-radius: rem(4);
            @include r-14;
            width: 100%;

            @include breakpoint-min($desktop-width) {
                white-space: nowrap;
            }

            &:hover {
                background: #FFFFFF1A;
            }
        }
    }

    .lang-btn {
        display: flex;
        align-items: center;
        gap: rem(8);
        padding: rem(12);
        border-radius: rem(4);
        @include r-14;
        color: $gray;

        img {
            width: rem(20);
            height: rem(20);
        }

        @include breakpoint-min($desktop-width) {
            &:hover {
                color: white;
                background: rgba(255, 255, 255, 0.10);
            }
        }
    }

    .hamburger-btn {
        height: rem(16);
        width: rem(23);
        flex-shrink: 0;
        margin-left: rem(8);
        cursor: pointer;
        transform: translateY(rem(4));
    
        &:hover span {
            background: $gray;
    
            &::before,
            &::after {
                background: $gray;
            }
        }
    
        span,
        span::before,
        span::after {
            background: white;
            content: "";
            position: absolute;
            width: rem(23);
            height: rem(2);
            margin-top: rem(4);
            transform: rotateY(180deg);
            transition: .3s ease-in-out;
            border-radius: rem(20);
    
            &:hover {
                background: $gray;
            }
        }
    
        span {
            &::before {
                margin-top: rem(-7);
            }
    
            &::after {
                margin-top: rem(7);
            }
        }
    
        &.active {
            transform: rotateY(180deg) translateY(0.25rem);
            transition: .3s ease-in-out;
    
            span {
                background: transparent;
    
                &::before {
                    margin-top: 0;
                    transform: rotate(45deg);
                }
    
                &::after {
                    margin-top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    @include breakpoint-max($desktop-width) {
        .navbar {
            &__logo {
                width: rem(120);
            }

            &__list {
                position: fixed;
                bottom: 0;
                left: 0;
                background: $bg-black;
                width: 100%;
                height: calc(100% - rem(64));
                overflow-y: auto;
                overflow-x: hidden;
                padding-bottom: rem(15);
                flex-direction: column;
                gap: 0;
                padding: rem(44) rem(40) 0 rem(40);
                transform: translateY(-100vh);
                transition: 0.3s;

                &.active {
                    transform: translateY(0);
                }
            }

            &__item {
                width: 100%;
                padding: 0;
                border-bottom: 1px solid #FFFFFF33;
                border-radius: 0;

                &:hover {
                    color: initial;
                    background: initial;
                }

                &--lang {
                    display: flex;
                    background-color: $black;
                    padding: 0;

                    .lang-btn {
                        padding: rem(12) rem(40);
                    }
                }

                &:first-of-type {
                    border: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:last-of-type {
                    border: 0;
                }
            }

            &__link {
                text-align: start;
                padding: rem(15) 0;
                width: 100%;

                &:hover {
                    background: initial;
                }
            }

            &__right {
                display: none;
            }
        }

        .dropdown {
            &__list {
                border-radius: 0;
                background: $bg-black;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;

                .dropdown__btn {
                    padding-left: rem(16);
                }

                &--sub {
                    .dropdown__link {
                        padding-left: rem(32);
                    }
                }
            }

            &__btn {
                padding: rem(15) 0;
                color: $gray;
                pointer-events: initial;

                svg {
                    stroke: $gray;
                    transform: rotate(0);
                }

                &.show {
                    color: white;

                    svg {
                        stroke: white;
                        transform: rotate(180deg);
                    }
                }

                &:hover {
                    color: white;

                    svg {
                        stroke: white;
                    }
                }
            }

            &__item {
                &:hover {
                    color: initial;
                    background: initial;
                }
            }

            &__link {
                padding: rem(15) rem(16);
                color: $gray;

                &:hover {
                    background: initial;
                    color: white;
                }
            }
        }

        .lang-btn {
            background-color: $black;
            width: 100%;
            padding: rem(12) rem(16);
            border-radius: 0;
        }
    }

    @include breakpoint-max($tablet-width) {
        .navbar {
            &__list {
                padding: rem(44) rem(16) 0 rem(16);
                height: calc(100% - rem(56));
            }

            &__item {
                &--lang {
                    .lang-btn {
                        padding: rem(12) rem(16);
                    }
                }
            }
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}