<footer class="footer">
	<div class="g-container">
		<div class="footer__top">
			<div class="footer-brand">
				<img data-src="/img/logo.png" class="lozad footer-brand__logo" alt="">

				<p class="footer-brand__text">
					A multi-award winning crypto casino. With a player-centric approach, BC.GAME is able to satisfy
					millions
					of gamblers across the globe. BC.GAME has its priority set on its community, ensuring an everlasting
					and
					endlessly entertaining gambling experience.
				</p>
			</div>
			<ul class="footer-nav">
				<li class="footer-nav__item">
					<a href="" class="footer-nav__link">Games</a>
				</li>
				<li class="footer-nav__item">
					<a href="" class="footer-nav__link">Advantages and disadvantages</a>
				</li>
				<li class="footer-nav__item">
					<a href="" class="footer-nav__link">Bonuses</a>
				</li>
				<li class="footer-nav__item">
					<a href="" class="footer-nav__link">FAQ</a>
				</li>
				<li class="footer-nav__item">
					<a href="" class="footer-nav__link">Payment methods</a>
				</li>
				<li class="footer-nav__item">
					<a href="" class="footer-nav__link">Contact</a>
				</li>
			</ul>
			<div class="footer-social">
				<span class="footer-social__title">Our social networks</span>
				<ul class="footer-social__list">
					<li class="footer-social__item">
						<a href="" class="footer-social__link">
							<img data-src="/img/telegram 1.png" class="lozad" alt="">
						</a>
					</li>
					<li class="footer-social__item">
						<a href="" class="footer-social__link">
							<img data-src="/img/youtube 1.png" class="lozad" alt="">
						</a>
					</li>
					<li class="footer-social__item">
						<a href="" class="footer-social__link">
							<img data-src="/img/instagram (2) 1.png" class="lozad" alt="">
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-networks">
			<h5 class="footer__title">Accepted Networks</h5>
			<div class="footer-networks__list">
				<img data-src="/img/networks/Arbitrum.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Avalanche.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/BSC.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/BTC.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Cardano.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Cosmos.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Cronos.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Dogecoin.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/ETH.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Fantom.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Near.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Optimism.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Polkadot.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Ripple.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Solana.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Thorchain.png" class="lozad footer-networks__img" alt="">
				<img data-src="/img/networks/Tron.png" class="lozad footer-networks__img" alt="">
			</div>
		</div>
		<div class="footer-sponsorship">
			<h5 class="footer__title">Sponsorship and Gaming Responsibilities</h5>
			<div class="footer-sponsorship__list">
				<img data-src="/img/sigma 1.png" class="lozad footer-sponsorship__img" alt="">
				<img data-src="/img/afa 1.png" class="lozad footer-sponsorship__img" alt="">
				<img data-src="/img/cloudnine 1.png" class="lozad footer-sponsorship__img" alt="">
				<img data-src="/img/verify 1.png" class="lozad footer-sponsorship__img" alt="">
				<img data-src="/img/itech 1.png" class="lozad footer-sponsorship__img" alt="">
				<img data-src="/img/respon 1.png" class="lozad footer-sponsorship__img" alt="">
			</div>
		</div>
		<div class="footer-license">
			<div class="footer-license__content">
				<img data-src="/img/license 1.png" class="lozad" alt="">
				<p class="footer-license__text">
					A multi-award winning crypto casino. With a player-centric approach, BC.GAME is able to satisfy
					millions of gamblers across the globe. BC.GAME has its priority set on its community, ensuring an
					everlasting and endlessly entertaining gambling experience.
				</p>
			</div>
			<img data-src="/img/eighteen (1) 1.png" class="footer-license__img lozad" alt="">
		</div>
		<div class="footer-copyright">
			<p class="footer-copyright__text">© bcgame-free.com 2023 All Rights Reserved</p>
		</div>
	</div>
</footer>