<header class="header">
	<div class="g-container">
		<nav class="navbar">
			<a href="./index.html" class="navbar__logo">
				<img src="/img/logo.png" alt="Brang logo">
			</a>
			<ul class="navbar__list">
				<li class="navbar__item navbar__item--lang">
					<button class="lang-btn" type="button">
						<img src="/svg/flag.svg" alt="Flag">
						<span>USA</span>
					</button>
				</li>
				<li class="navbar__item">
					<button type="button" class="dropdown__btn">
						Games
						<svg>
							<use xlink:href="/svg/down.svg#down" />
						</svg>
					</button>
					<ul class="dropdown__list">
						<li class="dropdown__item"><a class="dropdown__link" href="#">Games</a></li>
						<li class="dropdown__item"><a class="dropdown__link" href="#">Slots</a></li>
						<li class="dropdown__item">
							<button type="button" class="dropdown__btn">
								Blackjack
								<svg>
									<use xlink:href="/svg/down.svg#down" />
								</svg>
							</button>
							<ul class="dropdown__list dropdown__list--sub">
								<li class="dropdown__item"><a class="dropdown__link" href="#">Blackjack-1</a></li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Blackjack-2</a></li>
							</ul>
						</li>
						<li class="dropdown__item">
							<button type="button" class="dropdown__btn">
								Poker
								<svg>
									<use xlink:href="/svg/down.svg#down" />
								</svg>
							</button>
							<ul class="dropdown__list dropdown__list--sub">
								<li class="dropdown__item"><a class="dropdown__link" href="#">Poker</a></li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Texas Hold'em
										Poker</a></li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Omaha Poker</a></li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Seven Card Stud
										Poker</a></li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Raz Poker</a></li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Five Card Draw
										Poker</a></li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Caribbean Stud
										Poker</a>
								</li>
							</ul>
						</li>
						<li class="dropdown__item">
							<button type="button" class="dropdown__btn">
								Baccarat
								<svg>
									<use xlink:href="/svg/down.svg#down" />
								</svg>
							</button>
							<ul class="dropdown__list dropdown__list--sub">
								<li class="dropdown__item"><a class="dropdown__link" href="#">Baccarat-1</a></li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Baccarat-2</a></li>
							</ul>
						</li>
						<li class="dropdown__item"><a class="dropdown__link" href="#">Craps</a></li>
					</ul>
				</li>
				<li class="navbar__item">
					<button type="button" class="dropdown__btn">
						Bonuses
						<svg>
							<use xlink:href="/svg/down.svg#down" />
						</svg>
					</button>
					<ul class="dropdown__list">
						<li class="dropdown__item">
							<button type="button" class="dropdown__btn">
								Registration bonus
								<svg>
									<use xlink:href="/svg/down.svg#down" />
								</svg>
							</button>
							<ul class="dropdown__list dropdown__list--sub">
								<li class="dropdown__item"><a class="dropdown__link" href="#">Registration-1</a></li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Registration-2</a></li>
							</ul>
						</li>
						<li class="dropdown__item">
							<button type="button" class="dropdown__btn">
								Deposit bonus
								<svg>
									<use xlink:href="/svg/down.svg#down" />
								</svg>
							</button>
							<ul class="dropdown__list dropdown__list--sub">
								<li class="dropdown__item"><a class="dropdown__link" href="#">Welcome Bonus</a></li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Reload Bonus</a></li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">High Roller Bonuses</a>
								</li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Deposit Bonus Codes</a>
								</li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Payment Method Bonuses</a>
								</li>
							</ul>
						</li>
						<li class="dropdown__item"><a class="dropdown__link" href="#">Free spins</a></li>
						<li class="dropdown__item">
							<button type="button" class="dropdown__btn">
								Refer a friend
								<svg>
									<use xlink:href="/svg/down.svg#down" />
								</svg>
							</button>
							<ul class="dropdown__list dropdown__list--sub">
								<li class="dropdown__item"><a class="dropdown__link" href="#">Refer a friend - 1</a>
								</li>
								<li class="dropdown__item"><a class="dropdown__link" href="#">Refer a friend - 2</a>
								</li>
							</ul>
						</li>
						<li class="dropdown__item"><a class="dropdown__link" href="#">Loyalty programs</a></li>
					</ul>
				</li>
				<li class="navbar__item"><a class="navbar__link" href="#">Paymnet Methods</a></li>
				<li class="navbar__item"><a class="navbar__link" href="#">Advantages and disadvantages</a></li>
				<li class="navbar__item"><a class="navbar__link" href="#">FAQ</a></li>
				<li class="navbar__item"><a class="navbar__link" href="#">Contact</a></li>
			</ul>
			<div class="navbar__right">
				<button class="lang-btn" type="button">
					<img src="/svg/flag.svg" alt="Flag">
					<span>USA</span>
				</button>
				<div class="navbar__register">
					<button type="button" class="navbar__link">Sign in</button>
					<button type="button" class="g-btn g-btn--green g-btn--dt-s">Registration</button>
				</div>
			</div>
			<div class="navbar__mob">
				<button type="button" class="sign-in-mob">
					<svg>
						<use xlink:href="/svg/sign-in.svg#sign-in" />
					</svg>
				</button>
				<button type="button" class="g-btn g-btn--green g-btn--dt-s g-btn--mb-m">Registration</button>
				<div class="hamburger-btn">
					<span></span>
				</div>
			</div>
		</nav>
	</div>
</header>