<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
	<link rel="canonical" href="">
	<title>BC.GAME</title>
	<meta property="og:locale" content="ru">
	<meta property="og:title" content="BC.GAME">
	<meta property="og:site_name" content="BC.GAME">
	<meta property="og:url" content="">
	<meta property="og:description" content="">
	<meta property="og:type" content="website">
	<meta property="og:image" content="">
	<link rel="icon" type="image/png" sizes="32x32" href="">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<include src="components/header.html"></include>

	<main>
		<block name="content"></block>
	</main>

	<include src="components/footer.html"></include>

	<block name="scripts">

	</block>
</body>

</html>